body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif

}

.container {
    padding-top: 1px;
}

#wb-brand {
    margin-top: 0px;
    padding: 9px;
}

#wb-logo {
    float: left;
    height: 37px;
    width: 37px;
}

#wb-title {
    margin-left: 7px;
    font-size: 23px;
}

#wb-navbar, #wb-side-nav, #wb-footer {
    background-color: #205081;
    color: #fff; 
    text-shadow: 1px 1px rgba(0,0,0,.5);
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#wb-register-submit {
    background-color: #4CAF50;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,.5);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#wb-register-submit:hover {
    background-color: darkgreen;
}

#wb-footer {
    background-color: #205081;
    max-height: 70px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-left: 10px;
    font-size: 16px;
}

#wb-modal-footer, #wb-modal-header {
    background-color: #205081;
    color: #fff; 
    text-shadow: 1px 1px rgba(0,0,0,.5);
    padding: 10px;
    font-size: 16px;
}

#wb-modal-container {
    padding: 10px;
    background-color: #f5f5f5;
}

#wb-tools {
    margin-bottom: 10px;
    padding-left: 10px;
}

.wb-header-logo, .wb-header-subtitle {
    color: #fff !important;
    text-shadow: 1px 2px rgba(0,0,0,.5) !important;
}

/* canvas */
canvas {
    background:#fff;
    box-shadow:0 0 15px #999;
    cursor:crosshair;
}

#clear {
  background:#205081;
  color:#fff;
  border:0;
  cursor:pointer;
  margin-left: 5px;
}

#clear:hover {
    background:#205081;
    color:#fff;
}

/* w3 overrides */
.w3-top {
    position: inherit;
}

.w3-navbar li a {
		padding: 16px;
		float: left;
}

.w3-display-left {
    position: inherit;
    margin-top: 59px;
}

.w3-modal-content {
    width: 450px;
}