body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.container {
    padding-top: 15px;
}

#wb-brand {
    margin-top: 0px;
    padding: 9px;
}

#wb-logo {
    float: left;
    height: 37px;
    width: 37px;
}

#wb-title {
    margin-left: 7px;
    font-size: 23px;
}


#wb-navbar, #wb-side-nav, #wb-footer {
    background-color: #205081;
    color: #fff; 
    text-shadow: 1px 1px rgba(0,0,0,.5);
}

#wb-footer {
    background-color: #205081;
    max-height: 70px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-left: 10px;
    font-size: 16px;
}

/* canvas */
canvas {
    background:#FFF;
    box-shadow:0 0 15px #999;
    cursor:crosshair;
}

#clear {
  font-size:1rem;
  background:#205081;
  color:#fff;
  border:0;
  padding:8px;
  cursor:pointer;
  margin-left: 5px;
}

#clear:hover {
background:#205081;
color:#fff;
}

/* w3 overrides */
.w3-top {
    position: inherit;
}

.w3-navbar li a {
		padding: 16px;
		float: left;
}

.w3-display-left {
    position: inherit;
    margin-top: 59px;
}

.wb-header-logo, .wb-header-subtitle {
    color: #fff !important;
    text-shadow: 1px 2px rgba(0,0,0,.5) !important;
}

.w3-text-blue, .w3-hover-text-blue:hover {
    text-shadow: 1px 2px rgba(0,0,0,.5) !important;
}