@{
    ViewData["Title"] = "WriteBoard App";
}

<div class="tools">
    @*<a href="#canvas" data-tool="marker">Marker</a>
    <a href="#canvas" data-tool="eraser">Eraser</a>*@
    <input id="marker" type="range" max="10" min="1" value="1">
</div>

<canvas id="canvas"></canvas>
<br/>
<button id="clear">Clear</button>