@{
    ViewData["Title"] = "WriteBoard App";
}

<div class="tools">
    <a href="#canvas" data-tool="marker">Marker</a>
    <a href="#canvas" data-tool="eraser">Eraser</a>
</div>
<canvas id="canvas" width="800" height="300"></canvas>
