@{
    ViewData["Title"] = "WriteBoard App";
}

<div class="tools">
    <button id="wb-clear">Clear</button>
    <button id="wb-marker">Marker</button>
    <button id="wb-eraser">Eraser</button>

    &nbsp;
    <i class="fa fa-dot"></i>
    <input id="wb-line-width" type="range" max="10" min="1" value="1">

    <input id="wb-color-picker" class="color no-alpha" value="#000000" />
</div>
<canvas width="800" height="400" id="wb-canvas"></canvas>
<br/>