<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link runat="server" rel="shortcut icon" href="~/fav.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/fav.ico" type="image/ico" />

    <environment names="Development">
        <script src="~/js/jquery.js" asp-append-version="true"></script>
        <script src="~/js/jquery_colorpicker.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.js" asp-append-version="true"></script>
        <script src="~/js/jquery_colorpicker.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Development">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <ul class="w3-navbar w3-card-2" id="wb-navbar">
            <li>
                <div id="wb-brand">
                    <img src="~/images/logo.png" id="wb-logo" />
                    <span id="wb-title">WriteBoard</span>
                </div>
            </li>
            <!-- Right-sided navbar links -->
            <li class="w3-right w3-hide-small">
                <a href="#" onclick="document.getElementById('wb-register').style.display='block'">New</a>
            </li>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <li>
                <a href="javascript:void(0)" class="w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                    <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidenav on small screens when clicking the menu icon -->
    <nav class="w3-sidenav w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="wb-side-nav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-large w3-padding-16">Close ×</a>
        <a href="#" onclick="document.getElementById('wb-register').style.display='block'">New</a>
    </nav>

    <!-- Registration Modal -->
    <div id="wb-register" class="w3-modal">
        <div class="w3-modal-content">

            <header id="wb-modal-header">
                <span onclick="document.getElementById('wb-register').style.display='none'" class="w3-closebtn">
                    <i class="fa fa-window-close"></i>
                 </span>
                <img src="~/images/logo.png" id="wb-logo" />
                <span id="wb-title">WriteBoard Registration</span>
            </header>

            <div id="wb-modal-container">
                <label>
                    <i class="fa fa-key"></i>
                    <b>Unique URL Key</b>
                </label>
                <input type="text" placeholder="Enter a Unique Key" name="wb-key" required>
              
                <label>
                    <i class="fa fa-info-circle"></i>
                    <b>Description</b>
                </label>
                <input type="text" placeholder="WriteBoard Description" name="wb-desc" required>

                <label>
                    <i class="fa fa-envelope"></i>
                    <b>Email Address</b>
                </label>
                <input type="email" placeholder="Contact Email" name="wb-email" required>

                <button id="wb-register-submit" type="submit">
                    <i class="fa fa-download"></i> Create WriteBoard
                </button>
            </div>

            <footer id="wb-modal-footer">
                <div>
                    &copy; 2017 - WriteBoard
                </div>
            </footer>

        </div>
    </div>

    <div class="container">
        @RenderBody()

        <!-- Footer -->
        <footer id="wb-footer">
            <div>
                <p>&copy; 2017 - WriteBoard</p>
            </div>
        </footer>
    </div>
</body>
</html>
